<script lang='ts'>
    import {clientStore} from '$lib/stores/client.store';
    import {page} from '$app/stores';
    import type {IClient} from '$lib/domain/Client';
    import {faArrowLeft, faPencilAlt} from '@fortawesome/free-solid-svg-icons';
    import {goto} from '$app/navigation';
    import Fa from 'svelte-fa';
    import {onDestroy} from 'svelte';
    import type {PageData, RouteParams} from './$types';

    let client: IClient | null = null;

    export let data: PageData;

    const {clientIdentifier}: number = data;
    clientStore.find(clientIdentifier)
        .then(foundClient => {
            client = foundClient;
        });
    
    function previousState(): void {
        window.history.back();
    }

    function navigate(event: Event): void {
        goto(event.currentTarget['value']);
    }
</script>
<div class='row justify-content-center'>
    <div class='col-8'>
        {#if (client)}
            <div>
                <h2 data-cy='clientDetailsHeading'><span>Client</span>
                </h2>

                <hr/>

                <jhi-alert-error/>

                <jhi-alert/>

                <dl class='row-md jh-entity-details'>
                    <dt><span>ID</span></dt>
                    <dd>
                        <span>{ client.id }</span>
                    </dd>
                    <dt><span>Name</span></dt>
                    <dd>
                        <span>{ client.name }</span>
                    </dd>
                    <dt><span>Species</span></dt>
                    <dd>
                        <span>{ client.species }</span>
                    </dd>
                    <dt><span>Occupation</span></dt>
                    <dd>
                        <span>{ client.occupation }</span>
                    </dd>
                    <dt><span>Description</span></dt>
                    <dd>
                        <span>{ client.description }</span>
                    </dd>
                </dl>

                <button type='submit' on:click={previousState} class='btn btn-info' data-cy='entityDetailsBackButton'>
                    <Fa icon={faArrowLeft}/>&nbsp;<span>Back</span>
                </button>

                <button type='button' value={`/client/${client.id}/edit`} on:click={navigate} class='btn btn-primary'>
                    <Fa icon={faPencilAlt}/>&nbsp;<span>Edit</span>
                </button>
            </div>
        {/if}
    </div>
</div>
