<script lang='ts'>
	import Fa from 'svelte-fa';
	import { faBan, faSave } from '@fortawesome/free-solid-svg-icons';
	import { dogStore } from '$lib/stores/dog.store';
	import type { IDog } from '$lib/domain/Dog';

	export let dogId: number;

	const editedDog: IDog = {};

	let isSaving = false;

	if (dogId) {
		dogStore.find(dogId).then(dog => updateForm(dog));
	}

	function previousState(): void {
		window.history.back();
	}

	function save(): void {
		isSaving = true;
		const dog = createFromForm();
		if (dog.id !== undefined) {
			subscribeToSaveResponse(dogStore.update(dog));
		} else {
			subscribeToSaveResponse(dogStore.create(dog));
		}
	}

	function subscribeToSaveResponse(result: Promise<IDog>): void {
		result.then(onSaveFinalize)
			.then(onSaveSuccess)
			.catch(onSaveError);
	}

	function onSaveSuccess(): void {
		previousState();
	}

	function onSaveError(): void {
		// Api for inheritance.
	}

	function onSaveFinalize(): void {
		isSaving = false;
	}

	function updateForm(dog: IDog): void {
		editedDog.id = dog.id;
		editedDog.breed = dog.breed;
		editedDog.name = dog.name;
		editedDog.speciality = dog.speciality;
	}

	function createFromForm(): IDog {
		return editedDog;
	}
</script>
<div class='row justify-content-center'>
	<div class='col-8'>
		<form name='editForm' role='form' novalidate on:submit|preventDefault={save}>
			<h2 id='jhi-dog-heading' data-cy='DogCreateUpdateHeading'
			>
				Create or edit a Dog
			</h2>

			<div>
				<jhi-alert-error></jhi-alert-error>

				<div class='form-group' hidden={editedDog.id}>
					<label class='form-control-label' for='field_id'>ID</label>
					<input type='number' class='form-control' name='id' id='field_id' data-cy='id' readonly='true'
								 bind:value={editedDog.id} />
				</div>

				<div class='form-group'>
					<label class='form-control-label' for='field_name'>Name</label>
					<input type='text' class='form-control' name='name' id='field_name' data-cy='name'
								 bind:value={editedDog.name} />
				</div>

				<div class='form-group'>
					<label class='form-control-label' for='field_speciality'>Speciality</label>
					<input
						type='text'
						class='form-control'
						name='speciality'
						id='field_speciality'
						data-cy='speciality'
						bind:value={editedDog.speciality}
					/>
				</div>

				<div class='form-group'>
					<label class='form-control-label' for='field_breed'>Breed</label>
					<input type='text' class='form-control' name='breed' id='field_breed' data-cy='breed'
								 bind:value={editedDog.breed} />
				</div>
			</div>

			<div>
				<button type='button' id='cancel-save' data-cy='entityCreateCancelButton' class='btn btn-secondary'
								on:click={previousState}>
					<Fa icon={faBan} />&nbsp;<span>Cancel</span>
				</button>

				<button
					type='submit'
					id='save-entity'
					data-cy='entityCreateSaveButton'
					disabled={isSaving}
					class='btn btn-primary'
				>
					<Fa icon={faSave} />&nbsp;<span>Save</span>
				</button>
			</div>
		</form>
	</div>
</div>
