<script lang='ts'>
	import JhiPageRibbon from '$lib/components/JhiPageRibbon.svelte';
	import JhiNavbar from '$lib/components/JhiNavbar.svelte';
</script>
<JhiPageRibbon />

<div>
	<JhiNavbar />
</div>

<slot></slot>