<script lang='ts'>
    import {Account} from '$lib/domain/Account';
    import {accountStore} from '$lib/stores/account.store';
    import {goto} from "$app/navigation";

    let loggedAccount: Account = null;

    function login(): void {
        goto('/login').catch(message => console.log(message));
    }

    accountStore.subscribe(foundAccount => loggedAccount = foundAccount);
</script>
<style lang='scss'>
  /* ==========================================================================
Main page styles
========================================================================== */

  .hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }

  /* wait autoprefixer update to allow simple generation of high pixel density media query */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    /* only screen and (-moz-min-device-pixel-ratio: 2), */
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hipster {
      background: url('/images/jhipster_family_member_1.svg') no-repeat center top;
      background-size: contain;
    }
  }
</style>
<div class='row'>
    <div class='col-md-3'>
        <span class='hipster img-fluid rounded'></span>
    </div>

    <div class='col-md-9'>
        <h1 class='display-4'><span>Welcome, Java Hipster!</span> (Pawpatrolmanager)</h1>

        <p class='lead'>This is your homepage</p>

        <div>
            {#if (loggedAccount !== null)}
                <div class='alert alert-success'>
                    <span id='home-logged-message'>	You are logged in as user "{loggedAccount.login}".</span>
                </div>
            {:else }
                <div class='alert alert-warning'>
                    <span>If you want to </span>
                    <a class='alert-link' on:click={login}>sign in</a>
                    <span>, you can try the default accounts:<br/>
						- Administrator (login="admin" and password="admin") <br/>
						- User (login="user" and password="user").</span>
                </div>

                <div class='alert alert-warning'>
                    <span>You don't have an account yet?</span>&nbsp;
                    <a class='alert-link' href='account/register'>Register a new account</a>
                </div>
            {/if}
        </div>

        <p>If you have any question on JHipster:</p>

        <ul>
            <li>
                <a href='https://www.jhipster.tech/' target='_blank' rel='noopener noreferrer'>JHipster homepage</a>
            </li>
            <li>
                <a
                        href='https://stackoverflow.com/tags/jhipster/info'
                        target='_blank'
                        rel='noopener noreferrer'
                >JHipster on Stack Overflow</a
                >
            </li>
            <li>
                <a
                        href='https://github.com/jhipster/generator-jhipster/issues?state=open'
                        target='_blank'
                        rel='noopener noreferrer'
                >JHipster bug tracker</a
                >
            </li>
            <li>
                <a href='https://gitter.im/jhipster/generator-jhipster' target='_blank' rel='noopener noreferrer'
                >JHipster public chat room</a
                >
            </li>
            <li>
                <a href='https://twitter.com/jhipster' target='_blank' rel='noopener noreferrer'
                >follow @jhipster on Twitter</a
                >
            </li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span>
            <a href='https://github.com/jhipster/generator-jhipster' target='_blank'
               rel='noopener noreferrer'>GitHub</a>!
        </p>
    </div>
</div>
