<script lang='ts'>
    import {page} from "$app/stores";
</script>
<div>
    <div class='row'>
        <div class='col-md-4'>
            <span class='hipster img-fluid rounded'></span>
        </div>

        <div class='col-md-8'>
            <h1>Error Page! For clients</h1>

            {#if $page.error.message}
                <div>
                    <div class='alert alert-danger'>{$page.status} : { $page.error.message }</div>
                </div>
            {/if}
        </div>
    </div>
</div>
