<script lang='ts'>
	import type { IClient } from '$lib/domain/Client';
	import Fa from 'svelte-fa';
	import { faEye, faPencilAlt, faPlus, faSync } from '@fortawesome/free-solid-svg-icons';
	import { clientStore } from '$lib/stores/client.store';
	import { goto } from '$app/navigation';

	let clients: IClient[];
	let isLoading = false;


	function loadAll(): void {
		isLoading = true;

		clientStore.query().then(
			(res) => {
				isLoading = false;
				clients = res ?? [];
			})
			.catch(() => {
					isLoading = false;
				}
			);
	}

	loadAll();

	function trackId(item: IClient): number {
		return item.id;
	}

	/*
		function deleteClient(client: IClient): () => void {
			return () => {
				const modalRef = this.modalService.open(ClientDeleteDialogComponent, { size: 'lg', backdrop: 'static' });
				modalRef.componentInstance.client = client;
				// unsubscribe not needed because closed completes on modal close
				modalRef.closed.subscribe(reason => {
					if (reason === 'deleted') {
						this.loadAll();
					}
				});
			};
		}
	*/

	function navigate(event: Event): void {
		goto(event.currentTarget['value']);
	}
</script>
<div>
	<h2 id='page-heading' data-cy='ClientHeading'>
		<span>Clients</span>

		<div class='d-flex justify-content-end'>
			<button class='btn btn-info mr-2' on:click={loadAll} disabled={isLoading}>
				<Fa icon={faSync} spin={isLoading} />
				<span>Refresh List</span>
			</button>

			<button
				id='jh-create-entity'
				data-cy='entityCreateButton'
				class='btn btn-primary jh-create-entity create-client'
				value='/client/new'
				on:click={navigate}
			>
				<Fa icon={faPlus} />
				<span> Create a new Client </span>
			</button>
		</div>
	</h2>

	<jhi-alert-error />

	<jhi-alert />

	{#if (clients?.length === 0)}
		<div class='alert alert-warning' id='no-result'>
			<span>No clients found</span>
		</div>
	{:else if (clients && clients.length > 0)}
		<div class='table-responsive' id='entities'>
			<table class='table table-striped' aria-describedby='page-heading'>
				<thead>
				<tr>
					<th scope='col'><span>ID</span></th>
					<th scope='col'><span>Name</span></th>
					<th scope='col'><span>Species</span></th>
					<th scope='col'><span>Occupation</span></th>
					<th scope='col'><span>Description</span></th>
					<th scope='col'></th>
				</tr>
				</thead>
				<tbody>
				{#each clients as client (trackId(client))}
					<tr data-cy='entityTable'>
						<td>
							<a href={`/client/${client.id}`}>{ client.id }</a>
						</td>
						<td>{ client.name }</td>
						<td>{ client.species }</td>
						<td>{ client.occupation }</td>
						<td>{ client.description }</td>
						<td class='text-right'>
							<div class='btn-group'>
								<button type='submit' on:click={navigate} value={`/client/${client.id}`} class='btn btn-info btn-sm'
												data-cy='entityDetailsButton'>
									<Fa icon={faEye} />
									<span class='d-none d-md-inline'>View</span>
								</button>

								<button type='submit' on:click={navigate} value={`/client/${client.id}/edit`}
												class='btn btn-primary btn-sm'
												data-cy='entityEditButton'>
									<Fa icon={faPencilAlt} />
									<span class='d-none d-md-inline'>Edit</span>
								</button>
								<!--
															<button type='submit' on:click={delete(client)} class='btn btn-danger btn-sm'
																			data-cy='entityDeleteButton'>
																<Fa icon={faTimes} />
																<span class='d-none d-md-inline'>Delete</span>
															</button>
								-->
							</div>
						</td>
					</tr>
				{/each}
				</tbody>
			</table>
		</div>
	{/if}
</div>
