<script lang='ts'>
	import DogEditForm from '../../_components/DogEditForm.svelte';
	import { page } from '$app/stores';
	import { onDestroy } from 'svelte';

	let dogId: number = null;
	const pageSubscription = page.subscribe(({ params }) => dogId = +params?.dogId);

	onDestroy(() => pageSubscription());
</script>

{#if (dogId)}
	<DogEditForm dogId={dogId} />
{/if}