<script lang='ts'>
	import Fa from 'svelte-fa';
	import { faBan, faSave } from '@fortawesome/free-solid-svg-icons';
	import { clientStore } from '$lib/stores/client.store';
	import type { IClient } from '$lib/domain/Client';

	export let clientId;

	let editedClient: IClient = {};

	let isSaving = false;

	if (clientId) {
		clientStore.find(clientId).then(client => updateForm(client));
	}

	function previousState(): void {
		window.history.back();
	}

	function save(): void {
		isSaving = true;
		const client = createFromForm();
		if (client.id !== undefined) {
			subscribeToSaveResponse(clientStore.update(client));
		} else {
			subscribeToSaveResponse(clientStore.create(client));
		}
	}

	function subscribeToSaveResponse(result: Promise<IClient>): void {
		result.then(onSaveFinalize)
			.then(onSaveSuccess)
			.then(onSaveError);
	}

	function onSaveSuccess(): void {
		previousState();
	}

	function onSaveError(): void {
		// Api for inheritance.
	}

	function onSaveFinalize(): void {
		isSaving = false;
	}

	function updateForm(client: IClient): void {
		editedClient.id = client.id;
		editedClient.name = client.name;
		editedClient.species = client.species;
		editedClient.occupation = client.occupation;
		editedClient.description = client.description;
	}

	function createFromForm(): IClient {
		return editedClient;
	}
</script>
<div class='row justify-content-center'>
	<div class='col-8'>
		<form name='editForm' role='form' novalidate on:submit|preventDefault={save}>
			<h2 id='jhi-client-heading' data-cy='ClientCreateUpdateHeading'>
				Create or edit a Client
			</h2>

			<div>
				<jhi-alert-error />

				<div class='form-group' hidden={editedClient.id}>
					<label class='form-control-label' for='field_id'>ID</label>
					<input type='number' class='form-control' name='id' id='field_id' data-cy='id'
								 readonly='true' bind:value={editedClient.id} />
				</div>

				<div class='form-group'>
					<label class='form-control-label' for='field_name'>Name</label>
					<input type='text' class='form-control' name='name' id='field_name' data-cy='name'
								 bind:value={editedClient.name} />
				</div>

				<div class='form-group'>
					<label class='form-control-label' for='field_species'>Species</label>
					<input type='text' class='form-control' name='species' id='field_species' data-cy='species'
								 bind:value={editedClient.species} />
				</div>

				<div class='form-group'>
					<label class='form-control-label' for='field_occupation'>Occupation</label>
					<input
						type='text'
						class='form-control'
						name='occupation'
						id='field_occupation'
						data-cy='occupation'
						bind:value={editedClient.occupation}
					/>
				</div>

				<div class='form-group'>
					<label class='form-control-label'
								 for='field_description'
					>Description</label
					>
					<input
						type='text'
						class='form-control'
						name='description'
						id='field_description'
						data-cy='description'
						bind:value={editedClient.description}
					/>
				</div>
			</div>

			<div>
				<button type='button' id='cancel-save' data-cy='entityCreateCancelButton' class='btn btn-secondary'
								on:click={previousState}>
					<Fa icon={faBan} />&nbsp;<span>Cancel</span>
				</button>

				<button
					type='submit'
					id='save-entity'
					data-cy='entityCreateSaveButton'
					disabled={isSaving}
					class='btn btn-primary'
				>
					<Fa icon={faSave} />&nbsp;<span>Save</span>
				</button>
			</div>
		</form>
	</div>
</div>
