<script lang='ts'>
	import { page } from '$app/stores';
	import { onDestroy } from 'svelte';
	import ClientEditForm from '../../_components/ClientEditForm.svelte';

	let clientId: number = null;
	const pageSubscription = page.subscribe(({ params }) => clientId = +params?.clientId);

	onDestroy(() => pageSubscription());
</script>

{#if (clientId)}
	<ClientEditForm clientId={clientId} />
{/if}