<script lang='ts'>
	import { onMount } from 'svelte';
	import Fa from 'svelte-fa';
	import { faEye, faPencilAlt, faPlus, faSync } from '@fortawesome/free-solid-svg-icons';
	import { dogStore } from '$lib/stores/dog.store';
	import type { IDog } from '$lib/domain/Dog';
	import { goto } from '$app/navigation';

	let dogs: IDog[];
	let isLoading = false;

	function loadAll(): void {
		isLoading = true;

		dogStore.query().then(
			(res: IDog[]) => {
				isLoading = false;
				dogs = res ?? [];
			},
			() => {
				isLoading = false;
			}
		);
	}

	function trackId(item: IDog): number {
		return item.id;
	}

	/*
		function deleteDog(dog: IDog): () => void {
			return (): void => {
				const modalRef = this.modalService.open(DogDeleteDialogComponent, { size: 'lg', backdrop: 'static' });
				modalRef.componentInstance.dog = dog;
				// unsubscribe not needed because closed completes on modal close
				modalRef.closed.subscribe(reason => {
					if (reason === 'deleted') {
						loadAll();
					}
				});
			};
		}
	*/

	onMount(() => loadAll());

	function navigate(element: Event) {
		goto(element.currentTarget['value']);
	}
</script>
<div>
	<h2 id='page-heading' data-cy='DogHeading'>

		<div class='d-flex justify-content-end'>
			<button class='btn btn-info mr-2' on:click={loadAll} disabled={isLoading}>
				<Fa icon={faSync} [spin]='isLoading' />
				<span>Refresh List</span>
			</button>

			<button
				id='jh-create-entity'
				data-cy='entityCreateButton'
				class='btn btn-primary jh-create-entity create-dog'
				value='/dog/new'
				on:click={navigate}
			>
				<Fa icon={faPlus} />
				<span> Create a new Dog </span>
			</button>
		</div>
	</h2>

	<jhi-alert-error></jhi-alert-error>

	<jhi-alert></jhi-alert>

	{#if dogs?.length === 0}
		<div class='alert alert-warning' id='no-result'>
			<span>No dogs found</span>
		</div>
	{:else if dogs && dogs.length > 0}
		<div class='table-responsive' id='entities'>
			<table class='table table-striped' aria-describedby='page-heading'>
				<thead>
				<tr>
					<th scope='col'><span>ID</span></th>
					<th scope='col'><span>Name</span></th>
					<th scope='col'><span>Speciality</span></th>
					<th scope='col'><span>Breed</span></th>
					<th scope='col'></th>
				</tr>
				</thead>
				<tbody>
				{#each dogs as dog (trackId(dog))}
					<tr data-cy='entityTable'>
						<td>
							<a href={`/dog/${dog.id}`}>{ dog.id }</a>
						</td>
						<td>{ dog.name }</td>
						<td>{ dog.speciality }</td>
						<td>{ dog.breed }</td>
						<td class='text-right'>
							<div class='btn-group'>
								<button type='submit' value={`/dog/${dog.id}`} on:click={navigate} class='btn btn-info btn-sm'
												data-cy='entityDetailsButton'>
									<Fa icon={faEye} />
									<span class='d-none d-md-inline'>View</span>
								</button>

								<button type='submit' value={`/dog/${dog.id}/edit`} on:click={navigate} class='btn btn-primary btn-sm'
												data-cy='entityEditButton'>
									<Fa icon={faPencilAlt} />
									<span class='d-none d-md-inline'>Edit</span>
								</button>

								<!--
																<button type='submit' on:click={deleteDog(dog)} class='btn btn-danger btn-sm'
																				data-cy='entityDeleteButton'>
																	<Fa icon={faTimes} />
																	<span class='d-none d-md-inline'>Delete</span>
																</button>
								-->
							</div>
						</td>
					</tr>
				{/each}
				</tbody>
			</table>
		</div>
	{/if}
</div>
