<script lang='ts'>
	import { Account } from '../domain/Account';
	import { VERSION } from './shared/app.constants';
	import { onDestroy, onMount } from 'svelte';
	import { profileStore } from '../stores/profile.store';
	import { LANGUAGES } from '../domain/enums/languages';
	import jhiHasAnyAuthority from '../actions/jhiHasAnyAuthority';
	import { Dropdown, DropdownMenu, DropdownToggle } from 'sveltestrap';
	import { goto } from '$app/navigation';
	import { accountStore } from '../stores/account.store';
	import Fa from 'svelte-fa/src/fa.svelte';
	import {
		faAsterisk,
		faBars,
		faBook,
		faHome,
		faLock,
		faSignInAlt,
		faSignOutAlt,
		faThList,
		faUser,
		faUserPlus,
		faUsers,
		faUsersCog,
		faWrench
	} from '@fortawesome/free-solid-svg-icons';
	import type { Unsubscriber } from 'svelte/store';
	import { loginStore } from '../stores/login.store';

	let inProduction: boolean;
	let openAPIEnabled: boolean;

	let isNavbarCollapsed = true;
	let languages = LANGUAGES;
	let version = '';
	let account: Account | null = null;
	const subscriptions: Unsubscriber[] = [];
	subscriptions.push(accountStore.subscribe(foundAccount => account = foundAccount));

	if (VERSION) {
		version = VERSION.toLowerCase().startsWith('v') ? VERSION : `v${VERSION}`;
	}

	onMount((): void => {
		subscriptions.push(profileStore.subscribe(profileInfo => {
			inProduction = profileInfo?.inProduction;
			openAPIEnabled = profileInfo?.openAPIEnabled;
		}));
		//accountService.getAuthenticationState().subscribe(foundAccount => (account = foundAccount));
	});

	onDestroy(() => subscriptions.forEach(unsubscribe => unsubscribe()));

	function changeLanguage(languageKey: string): void {
		//	sessionStorageService.store('locale', languageKey);
//		translateService.use(languageKey);
	}

	function collapseNavbar(): void {
		isNavbarCollapsed = true;
	}

	function login(): void {
		goto('/login');
	}

	function logout(): void {
		collapseNavbar();
		loginStore.logout();
		goto('/');
	}

	function toggleNavbar(): void {
		isNavbarCollapsed = !isNavbarCollapsed;
	}
</script>

<style lang='scss'>
  @import 'node_modules/bootstrap/scss/functions';
  @import 'node_modules/bootstrap/scss/variables';

  .navbar-version {
    font-size: 0.65em;
    color: $navbar-dark-color;
  }

  .profile-image {
    height: 1.75em;
    width: 1.75em;
  }

  .navbar {
    padding: 0.2rem 1rem;

    ul.navbar-nav {
      .nav-item {
        margin-left: 0.5em;
      }
    }

    a.nav-link {
      font-weight: 400;
    }
  }

  /* ==========================================================================
	Logo styles
	========================================================================== */
  .logo-img {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
  }

</style>

<nav data-cy='navbar' class='navbar navbar-dark navbar-expand-md bg-dark'>
	<a class='navbar-brand logo' href='/' on:click={collapseNavbar}>
		<span class='logo-img'></span>
		<span class='navbar-title'>Pawpatrolmanager</span>
		<span class='navbar-version'>{version}</span>
	</a>
	<a
		class='navbar-toggler d-lg-none'
		href={void(0)}
		data-toggle='collapse'
		data-target='#navbarResponsive'
		aria-controls='navbarResponsive'
		aria-expanded='false'
		aria-label='Toggle navigation'
		on:click={toggleNavbar}
	>
		<Fa icon={faBars} />
	</a>
	<div class='navbar-collapse collapse' id='navbarResponsive' ngbCollapse={isNavbarCollapsed}
			 ngSwitch={account !== null}>
		<ul class='navbar-nav ml-auto'>
			<li class='nav-item'>
				<a class='nav-link' href='/' on:click={collapseNavbar}>
					<span>
						<Fa icon={faHome} />
						<span>Home</span>
					</span>
				</a>
			</li>
			<!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
			{#if account !== null}
				<Dropdown class='nav-item dropdown pointer'>
					<DropdownToggle class='nav-link dropdown-toggle' ngbDropdownToggle href={void(0)} id='entity-menu'
													data-cy='entity'>
						<span>
							<Fa icon={faThList} />
							<span>Entities</span>
						</span>
					</DropdownToggle>
					<DropdownMenu class='dropdown-menu' aria-labelledby='entity-menu'>
						<li>
							<a
								class='dropdown-item'
								href='/dog'
								on:click={collapseNavbar}
							>
								<Fa icon={faAsterisk} />
								<span>Dog</span>
							</a>
						</li>
						<li>
							<a
								sveltekit:prefetch
								class='dropdown-item'
								href='/client'
								on:click={collapseNavbar}
							>
								<Fa icon={faAsterisk} />
								<span>Client</span>
							</a>
						</li>
						<li>
							<a
								class='dropdown-item'
								href='/place'
								on:click={collapseNavbar}
							>
								<Fa icon={faAsterisk} />
								<span>Place</span>
							</a>
						</li>
						<li>
							<a
								class='dropdown-item'
								href='/mission'
								on:click={collapseNavbar}
							>
								<Fa icon={faAsterisk} />
								<span>Mission</span>
							</a>
						</li>
						<li>
							<a
								class='dropdown-item'
								href='/vehicle'
								on:click={collapseNavbar}
							>
								<Fa icon={faAsterisk} />
								<span>Vehicle</span>
							</a>
						</li>
						<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
					</DropdownMenu>
				</Dropdown>
			{/if}
			<div use:jhiHasAnyAuthority={'ROLE_ADMIN'}>
				<Dropdown class='nav-item dropdown pointer'>
					<DropdownToggle class='nav-link dropdown-toggle' href={void(0)} id='admin-menu' data-cy='adminMenu'>
          <span>
            <Fa icon={faUsersCog} />
            <span>Administration</span>
          </span>
					</DropdownToggle>
					<DropdownMenu class='dropdown-menu' aria-labelledby='admin-menu'>
						<li>
							<a class='dropdown-item' routerLink='admin/user-management' routerLinkActive='active'
								 on:click={collapseNavbar}>
								<Fa icon={faUsers} />
								<span>User management</span>
							</a>
						</li>
						{#if openAPIEnabled}
							<li>
								<a class='dropdown-item' href='admin/docs' on:click={collapseNavbar}>
									<Fa icon={faBook} />
									<span>API</span>
								</a>
							</li>
						{/if}
						<!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
					</DropdownMenu>
				</Dropdown>
			</div>
			{#if languages && languages.length > 1}
				<Dropdown class='nav-item dropdown pointer'>
					<DropdownToggle class='nav-link dropdown-toggle' href={void(0)} id='languagesnavBarDropdown'>
          <span>
            <fa-icon icon='flag'></fa-icon>
            <span>Language</span>
          </span>
					</DropdownToggle>
					<!--				<ul class='dropdown-menu' ngbDropdownMenu aria-labelledby='languagesnavBarDropdown'>-->
					<!--					<li *ngFor='let language of languages'>-->
					<!--						<a-->
					<!--							class='dropdown-item'-->
					<!--							[jhiActiveMenu]='language'-->
					<!--							href='javascript:void(0);'-->
					<!--							(click)='changeLanguage(language); collapseNavbar()'-->
					<!--						>{ language /*| findLanguageFromKey*/ }</a-->
					<!--						>-->
					<!--					</li>-->
					<!--				</ul>-->
				</Dropdown>
			{/if}
			<Dropdown class='nav-item dropdown pointer'>
				<DropdownToggle class='nav-link dropdown-toggle' href={void(0)} id='account-menu' data-cy='accountMenu'>
					{#if !account?.imageUrl}
          <span>
            <Fa icon={faUser} />
            <span>Account</span>
          </span>
					{/if}
					{#if account?.imageUrl}
					<span>
            <img src={account?.imageUrl} class='profile-image rounded-circle' alt='Avatar' />
          </span>
					{/if}
				</DropdownToggle>
				<DropdownMenu class='dropdown-menu' aria-labelledby='account-menu'>
					{#if account !== null}
						<li>
							<a class='dropdown-item' href='/account/settings' on:click={collapseNavbar}
								 data-cy='settings'>
								<Fa icon={faWrench} />
								<span>Settings</span>
							</a>
						</li>
						<li>
							<a
								class='dropdown-item'
								href='/account/password'
								on:click={collapseNavbar}
								data-cy='passwordItem'
							>
								<Fa icon={faLock} />
								<span>Password</span>
							</a>
						</li>
						<li>
							<a class='dropdown-item' on:click={logout} id='logout' data-cy='logout'>
								<Fa icon={faSignOutAlt} />
								<span>Sign out</span>
							</a>
						</li>
					{:else}
						<li>
							<a class='dropdown-item' on:click={login} id='login' data-cy='login'>
								<Fa icon={faSignInAlt} />
								<span>Sign in</span>
							</a>
						</li>
						<li>
							<a class='dropdown-item' href='/account/register' on:click={collapseNavbar}
								 data-cy='register'>
								<Fa icon={faUserPlus} />
								<span>Register</span>
							</a>
						</li>
					{/if}
				</DropdownMenu>
			</Dropdown>
		</ul>
	</div>
</nav>
