<script lang='ts'>
	import { dogStore } from '$lib/stores/dog.store';
	import type { IDog } from '$lib/domain/Dog';
	import { faArrowLeft, faPencilAlt } from '@fortawesome/free-solid-svg-icons';
	import Fa from 'svelte-fa';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { onDestroy } from 'svelte';

	let dog: IDog | null = null;

	const pageSub = page.subscribe(({ params }) => {
		const { dogId }: number = params;
		dogStore.find(dogId)
			.then(foundDog => {
				dog = foundDog;
			});
	});

	onDestroy(() => {
		pageSub();
	});

	function previousState(): void {
		window.history.back();
	}

	function navigate(event: Event): void {
		goto(event.currentTarget['value']);
	}
</script>
<div class='row justify-content-center'>
	<div class='col-8'>
		{#if (dog)}
			<div>
				<h2 data-cy='dogDetailsHeading'><span>Dog</span></h2>

				<hr />

				<jhi-alert-error></jhi-alert-error>

				<jhi-alert></jhi-alert>

				<dl class='row-md jh-entity-details'>
					<dt><span>ID</span></dt>
					<dd>
						<span>{ dog.id }</span>
					</dd>
					<dt><span>Name</span></dt>
					<dd>
						<span>{ dog.name }</span>
					</dd>
					<dt><span>Speciality</span></dt>
					<dd>
						<span>{ dog.speciality }</span>
					</dd>
					<dt><span>Breed</span></dt>
					<dd>
						<span>{ dog.breed }</span>
					</dd>
				</dl>

				<button type='submit' on:click={previousState} class='btn btn-info' data-cy='entityDetailsBackButton'>
					<Fa icon={faArrowLeft} />&nbsp;<span>Back</span>
				</button>

				<button type='button' value={`/dog/${dog.id}/edit`} on:click={navigate} class='btn btn-primary'>
					<Fa icon={faPencilAlt} />&nbsp;<span>Edit</span>
				</button>
			</div>
		{/if}
	</div>
</div>
