<script lang='ts'>
    import {goto} from '$app/navigation';
    import {onMount} from 'svelte';
    import {loginStore} from '$lib/stores/login.store';
    import {accountStore} from '$lib/stores/account.store';

    let username: string = null;
    let password: string = null;
    let rememberMe = false;

    let authenticationError = false;

    // if already authenticated then navigate to home page
    accountStore.subscribe(() => {
        if (accountStore.isAuthenticated()) {
            goto('/');
        }
    });

    onMount(() => {
        document.getElementById('username').focus();
    });

    function login(): void {
        loginStore
            .login({
                username,
                password,
                rememberMe
            })
            .then(
                () => {
                    authenticationError = false;
                    /*
                    if (!this.router.getCurrentNavigation()) {
                        // There were no routing during login (eg from navigationToStoredUrl)
                        this.router.navigate(['']);
                    }
                    */
                },
                () => (authenticationError = true)
            );
    }
</script>
<div>
    <div class='row justify-content-center'>
        <div class='col-lg-6 col-md-8 col-sm-10'>
            <h1 data-cy='loginTitle'>Sign in</h1>
            {#if authenticationError}
                <div class='alert alert-danger'
                     data-cy='loginError'>
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            {/if}
            <form class='form' role='form' on:submit|preventDefault={login}>
                <div class='form-group'>
                    <label class='username-label' for='username'>Login</label>
                    <input
                            type='text'
                            class='form-control'
                            name='username'
                            id='username'
                            placeholder='Username'
                            data-cy='username'
                            bind:value={username}
                    />
                </div>

                <div class='form-group'>
                    <label for='password'>Password</label>
                    <input
                            type='password'
                            class='form-control'
                            name='password'
                            id='password'
                            placeholder='Password'
                            data-cy='password'
                            bind:value={password}
                    />
                </div>

                <div class='form-check'>
                    <label class='form-check-label' for='rememberMe'>
                        <input class='form-check-input' type='checkbox' name='rememberMe' id='rememberMe'
                               bind:checked={rememberMe}/>
                        <span>Remember me</span>
                    </label>
                </div>
                <button type='submit' class='btn btn-primary' data-cy='submit'>Sign in</button>
            </form>
            <div class='mt-3 alert alert-warning'>
                <a class='alert-link' href='/account/reset/request'
                   data-cy='forgetYourPasswordSelector'
                >Did you forget your password?</a
                >
            </div>

            <div class='alert alert-warning'>
                <span>You don't have an account yet?</span>
                <a class='alert-link' href='/account/register'>Register
                    a new account</a>
            </div>
        </div>
    </div>
</div>
